[submodule "mbp_t1/snd_hda_macbookpro"]
	path = mbp_t1/snd_hda_macbookpro
	url = https://github.com/davidjo/snd_hda_macbookpro
[submodule "mbp_t1/macbook12-spi-driver"]
	path = mbp_t1/macbook12-spi-driver
	url = https://github.com/jimmykuo/macbook12-spi-driver
